<h1>カレンダー</h1>

<%= month_calendar(calendar_options: {
 start_date: :sunday,
 format: :short

}) do |date| %>
 <%= date %>

  <% @events.each_with_index do |event, index| %>
  <div class="calendar-bar color-<%= (index % 5) + 1 %>">
      <div class="event-title">
      <% if event.tasks.any? { |task| task.start_time.to_date == date.to_date } %>

       <%= link_to public_event_path(event.id) do %>
        <%= event.title %>
       <% end %>
      <% end %>
      </div>
     <div class="task-details">
     <% event.tasks.each do |task| %>
       <% if task.start_time <= date && task.finish_time >= date %>
       <%= task.process_i18n %>
      <% end %>
     <% end %>
     </div>
     </div>
    </div>
   <% end %>

<% end %>