<h1>新規予定作成</h1>

<%= form_with model:@event, url: public_events_path, method: :post do |f| %>
 <%= f.label "スケジュール名" %>
 <%= f.text_field :title %>
 <%= f.text_area :memo %>
 <%= f.hidden_field :member_id, :value => current_member.id %>
 <%= f.submit "作成" %>
<% end %>


<% if @event.errors.any? %>
  <div class="error-messages">
    <h2>エラーが発生しました。</h2>
    <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>