<head></head>
<body>
  <h1>今日の記録<h1>
<div id="stopwatch">
 <%= form_with model:@timelog, url: public_timelogs_path, method: :post do |f| %>
  <span id="time"><%= f.hidden_field :measurement_time %> 00:00:00 </span>
   <%= f.hidden_field :start_date %>
   <%= f.hidden_field :finish_date %>
    <%= f.hidden_field :diary %>
  <button id="start" onclick="start()">START</button>
  <button id="stop" onclick="stopAndSave()">STOP</button>
  <button id="pause" onclick="pause()">PAUSE</button>
 <% end %>


</div>
 <script src="/packs/log.js" charset="utf-8"></script>
</body>