<h1>New Event</h1>

<%= form_with model:@task, url: public_tasks_path, method: :post do |f|%>
 <%= f.select :process, Task.processes_i18n.invert %>
 <%= f.date_field :start_time %>
 <%= f.date_field :finish_time %>
 <%= f.submit "登録" %>
 <%= f.hidden_field :member_id, :value => current_member.id %>
<% end %>




 <% @tasks.each do |tasks| %>
   <%= tasks.process_i18n%>
   <%= tasks.start_time %>
   <%= tasks.finish_time %>
 <% end %>



