<!DOCTYPE html>
<html>
  <head>
    <title>Dillping</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# if admin_signed_in? %>
    <%# if request.fullpath.include? "/admin" %>

    <%# else %>
    <%# end %>

    <% if member_signed_in? %>
     <%= link_to "マイページ", public_member_path(current_member.id) %>
     <%= link_to "時間記録", root_path %>
     <%= link_to "予定表", new_public_event_path %>
     <%= link_to "投稿一覧"%>
     <%= link_to "ログアウト", destroy_member_session_path, method: :delete %>
    <% else %>
     <%= link_to "時間記録", root_path %>
     <%= link_to "新規登録", new_member_registration_path %>
     <%= link_to "ログイン", new_member_session_path %>
    <% end %>
    <%# end %>
    <%= yield %>
  </body>
</html>
